
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

.container {
	width: 710px;
	
	}

body {
	background: #5C5C5C;
	font-family: Tahoma, Geneva, sans-serif;
	}

/* Header */

header {
	padding-top: 20px;
}

headr img {
	padding: 1em;
	background: #5c5c5c;
	}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #5c5c5c;
  }
  
 section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #CD3788;
  text-decoration: none;
  }

a:hover {
  color: #FF69BA;
  text-decoration: underline;
}

a:visited {
  color: #CC3755;
}