   <header>
        <%= image_tag("images/logo.png", :alt => "Remont", :class => "round") %>
        <nav class="round">
          <ul>
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Pomoc", '#' %></li>
            <li><%= link_to "Zaloguj się", '#' %></li>
          </ul>
        </nav>
      </header>